body {
  font-family: sans-serif;
  background: #a9a9a9;
}

.icons {
  font-size: 25px;
  margin-right: 10px;
}

.color-red {
  color: #ff0000;
  margin-bottom: 5px;
}

.font-size {
  font-size: 12px;
}
